<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/login2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>HosmoaBank</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Reset Password  </p>

    <form class="form1" th:action="@{/admin/resetPassword}" method="post">
     <input type="text" th:name="password"/> 
      <input type="hidden" name="email" th:value="${email}" />
      <!--<a class="submit" align="center">Connect</a>-->
      <button type="submit" align="center"class="submit">Reset Password</button>
      </form>
      
    
           
 </div>
     
</body>
</html>