<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Configuration de mot de passe')"></head>
<body>
<div th:replace="views/admin/fragments ::
    header(title = 'Bienvenue ' + ${user.nom},
    description = 'Veuillez entrer un mot de passe pour sécuriser votre compte.')">
</div>
<!--Main section-->
<div class="ml-5 mr-5 mb-5">
    <form  method="post" th:action="${'/set_password?token=' + user.verificationToken}" >
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="password_conf">Confirmation de mot de passe</label>
            <input type="password" class="form-control" id="password_conf" name="password_conf" required>
        </div>
        <button type="submit" class="btn btn-primary">Confirmer</button>
    </form>
</div>
<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
</body>
</html>