<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Panneau d\'Agences')"></head>
<body>
<nav th:replace="views/admin/fragments :: navbar"></nav>
<div th:replace="views/admin/fragments ::
    header(title = 'Ajouter une agence',
    description = 'Ici vous ajouter les agences de l\'application.')">
</div>
<!--Main section-->
<div class="ml-5 mr-5 mb-5">
    <form  th:object="${agency}" method="post" action="/admin/agencies/add">
        <div class="form-group">
            <label for="agencyWording">Agency name</label>
            <input type="text" class="form-control" id="agencyWording" th:field="*{agencyWording}" required>
        </div>
        <div class="form-group">
            <label for="city">Agency city</label>
            <select class="form-control" id="city" th:field="*{city.id}">
                <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.nom}">
                </option>
            </select>
            <!-- <input type="text" class="form-control" id="ville" th:field="*{ville}" required> -->
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
</body>
</html>